/* Common css */
*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
:root{
    --main-color:#EB4D4B;
    --text-color:#3A3A3A;
}
.page-layout{
    margin: auto;
    max-width: 1200px;
}
.button{
    padding: 10px 50px;
    color: white;
    font-size: 16px;
    border-radius: 10px;
    background-color: var(--main-color);
}
.button:hover{
    color: var(--main-color);
    background-color: white;
    transition: 0.6s;
}

span{
    color: var(--main-color);
}
/* Header styling */
header{
    background-color:#CAD5E2;
    margin-bottom: 100px;
    
}
.nav-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: auto;
    
}
.logo img{
    width: 80px;
    height: 80px;
    margin-top: 10px;
}

ul {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px ;
}
ul li{
    list-style: none;
    padding-left: 40px;
    
}
ul a{
    text-decoration: none;
    color:var(--text-color);
    font-size: 20px;
}
ul i{
    padding-left: 40px;
    font-size: 20px;
    color: var(--text-color);
}
.menu-items a:hover{
    border-bottom: 3px solid var(--main-color);
}
.menu-items i:hover{
    color: var(--main-color);
}

/* Header styling ends */

/* Home page styling starts */

.home-page{
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 150px;
}
.left-items{
    width: 60%;
    padding: 20px 20px 20px 0;
}
.left-items h1{
    font-size: 52px;
    font-weight: 900;
    color: var(--text-color);
    margin-bottom:30px;
}
.left-items p{
    font-size: 16px;
    text-align: justify;
    color: var(--text-color);
    margin-bottom: 20px;
}
.right-items{
    width: 40%;
    margin-left: 50px;
}

/* Home page styling ends */